<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('bootstrap/css/font-awesome.min.css') }}">
        {% endblock %}
    </head>
    <body>
        <div id="app">
            <div v-if="isconnec">
                <my-head></my-head>
            </div>
            <main role="main">
                <div v-if="t">
                    {% block body %}{% endblock %}
                </div>
            </main>
        </div>
            {% block javascripts %}
                <script src="{{ asset('bootstrap/js/popper.min.js') }}"></script>
                <script src="{{ asset('bootstrap/js/jquery.min.js') }}"></script>
                <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('build/js/app.js') }}"></script>
            {% endblock %}
    </body>
</html>
